<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<body>
    <div layout:fragment="content1">
    <div class="pagetitle">
      <h1>상품수정</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../dashboard.html">홈</a></li>
          <li class="breadcrumb-item">상품관리</li>
          <li class="breadcrumb-item active">상품수정</li>
        </ol>
      </nav>
    </div>
    </div><!-- End Page Title -->

    <div layout:fragment="content">
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">상품수정</h5>
              <p>상품수정이 필요한 항목을 한 행씩 수정 후 저장하십시오.</p>

              <!-- Table with stripped rows -->
              <div style="width: 100%; overflow: auto;">
                <form action="" method="post">
                <table class="table datatable" style="white-space: nowrap;">
                  <thead>
                  <tr>
                    <th>선택</th>
                    <th><b>상</b>품코드</th>
                    <th>카테고리</th>
                    <th>상품명</th>
                    <th data-type="number">판매가</th>
                    <th>사이즈</th>
                    <th>컬러</th>
                    <th data-type="number">재고수량</th>
                    <th>이미지</th>
                    <th>소재</th>
                    <th>판매상태</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr id="list" th:each="product : ${products}" th:object="${product}">
                      <th style="width: 20%;">
                        <input class="form-check-input" type="checkbox" name="checkboxEach">
                      </th>
                      <td th:text="*{productId}"></td>
                      <td onclick="makeEditable(this)" th:text="*{category}"></td>
                      <td onclick="makeEditable(this)" th:text="*{productName}"></td>
                      <td type="number" onclick="makeEditable(this)" th:text="*{price}"></td>
                      <td type="number" onclick="makeEditable(this)" th:text="*{size}"></td>
                      <td onclick="makeEditable(this)" th:text="*{color}"></td>
                      <td onclick="makeEditable(this)" th:text="*{inventoryQuantity}"></td>
                      <td>
                          <input type="file" class="image" th:method="post" th:enctype="multipart" onchange="handleFileUpload(this)">
                          <p th:text="*{image}"></p>
                      </td>
                      <td onclick="makeEditable(this)" th:text="*{material}"></td>
                      <td onclick="makeEditable(this)" th:text="*{orderableStatus2}"></td>
                    </tr>
                  </tbody>
                </table>
                </form>
              </div>
                <div class="button-wrapper my-3">
                    <button class="btn btn-secondary" type="button" id="upBtn">저장</button>
                </div>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- End #main -->

  <script th:src="@{/assets/js/jquery-3.7.1.js}"></script>-->
  <script
         src="https://code.jquery.com/jquery-3.7.1.js"
         integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
         crossorigin="anonymous"></script>
  <script>
    function makeEditable(element) {
        // 체크박스 처리
        const $thisCheck = element.closest('tr').querySelector("[name=checkboxEach]");
        const $checks = document.querySelectorAll("[name=checkboxEach]");

        console.log($thisCheck, $checks);
        [...$checks].forEach(($check) => {
            $check.checked = false;
            $check === $thisCheck && ($check.checked = true);
        });
        console.log(element);
        // 현재 셀의 텍스트를 저장
      var currentText = element.innerText;

      // 이미 인풋 박스가 생성되어 있는지 확인
      var input = element.querySelector('input[type=text]');
      if (input) {
        input.focus(); // 이미 있는 인풋 박스에 포커스를 맞춘다.
        return; // 이미 인풋 박스가 있으면 추가로 생성하지 않음
      }

      // 인풋 박스 생성
      input = document.createElement('input');
      input.type = 'text';
      input.value = currentText;

      var originalText = currentText; // 원래 텍스트를 저장해둠
        console.log(originalText);
      input.onblur = function() {
        if (input.value !== originalText) {
          saveChanges(element, input.value);
        } else {
          cancelChanges(element, originalText);
        }
      };

      input.onkeydown = function(event) {
        if (event.key === 'Enter') {
          if (input.value !== originalText) {
            saveChanges(element, input.value);
          } else {
            cancelChanges(element, originalText);
          }
        } else if (event.key === 'Escape') {
          cancelChanges(element, originalText);
        }
      };

      // 셀 내용을 인풋 박스로 대체
      element.innerText = '';
      element.appendChild(input);
      input.focus();
    }

    function saveChanges(element, newValue) {
      // 저장 로직 구현
      element.innerText = newValue;
      // 다른 필요한 로직 처리
    }

    function cancelChanges(element, originalValue) {
      // 취소 로직 구현
      element.innerText = originalValue;
      // 다른 필요한 로직 처리
    }

    // $(document).ready(function() {
    //     // 이미지 업로드 행의 체크박스 클릭 시 이벤트 처리
    //     if ($('input[class="image"]').click) {
    //         $(this).closest('tr').find('.form-check-input').prop('checked', true);
    //     } else {
    //         $(this).closest('tr').find('.form-check-input').prop('checked', false);
    //     }});

    document.querySelector("#upBtn").onclick = () => {
        const element = document.querySelector("[name=checkboxEach]:checked");
        var row = element.closest('tr'); // 현재 행(tr)을 찾음
        var fileInput = row.querySelector('.image'); // 파일 input 요소 찾기
        var originalFile = row.querySelector('td:nth-child(9)').innerText;
        var image = fileInput.files.length > 0 ? fileInput.files[0].name : originalFile; // 업로드한 파일이름 가져오기

        // const formData = new FormData();
        // // 텍스트 데이터 일일이 추가...
        // formData.append('productId', row.querySelector('td:nth-child(2)').innerText);
        // formData.append('category', row.querySelector('td:nth-child(3)').innerText);
        // formData.append('productName', row.querySelector('td:nth-child(4)').innerText);
        // formData.append('price', row.querySelector('td:nth-child(5)').innerText);
        // formData.append('size', row.querySelector('td:nth-child(6)').innerText);
        // formData.append('color', row.querySelector('td:nth-child(7)').innerText);
        // formData.append('inventoryQuantity', row.querySelector('td:nth-child(8)').innerText);
        // // 파일데이터인 경우
        // formData.append('image', fileInput.files[0]);
        // formData.append('material', row.querySelector('td:nth-child(10)').innerText);
        // formData.append('orderableStatus2', row.querySelector('td:nth-child(11)').innerText);

        $.ajax({
            url: '[[@{/product-search}]]',
            type: 'post',
            // contentType : false,
            // processData : false,
            // // data: formData,
            data: {
                productId: row.querySelector('td:nth-child(2)').innerText,
                category: row.querySelector('td:nth-child(3)').innerText,
                productName: row.querySelector('td:nth-child(4)').innerText,
                price: row.querySelector('td:nth-child(5)').innerText,
                size: row.querySelector('td:nth-child(6)').innerText,
                color: row.querySelector('td:nth-child(7)').innerText,
                inventoryQuantity: row.querySelector('td:nth-child(8)').innerText,
                image: image,
                material: row.querySelector('td:nth-child(10)').innerText,
                orderableStatus2: row.querySelector('td:nth-child(11)').innerText
            },
            success: function(data) {
                console.log('success');
                console.log(data);
                alert("수정을 완료하였습니다.");
            },
            error: function(error) {
                console.log('error');
                console.log(error);
            },
            complete: function() {
                console.log('complete');
            }
        });
    };
  </script>
  </div>
</body>
</html>