<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<body>
    <div layout:fragment="content1">
    <div class="pagetitle">
      <h1>상품등록</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../dashboard.html">홈</a></li>
          <li class="breadcrumb-item">상품관리</li>
          <li class="breadcrumb-item active">상품등록</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    </div>

    <div layout:fragment="content">
    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">상품등록</h5>

              <!-- 상품등록 -->
              <form action="" method="post" name="form">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">카테고리</label>
                    <div class="col-sm-10">
                      <select class="form-select" id="category" aria-label="Default select example">
                        <option value="1" selected>남성화</option>
                        <option value="2">여성화</option>
                        <option value="3">아동화</option>
                      </select>
                    </div>
                </div>

                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">상품명</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="productName" required>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">판매가</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="price" placeholder="숫자만 입력 (원)" required>
                  </div>
                </div>

                <!-- 판매가 뒤에 '원' 넣기
                <div class="row mb-5">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="숫자만 입력" aria-label="숫자만 입력" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">원</span>
                  </div>
                </div>
                -->

                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">사이즈</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="size" placeholder="(,로 구분)" required>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputText3" class="col-sm-2 col-form-label">컬러</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="color" placeholder="(,로 구분)" required>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputNumber1" class="col-sm-2 col-form-label">재고수량</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="inventoryQuantity" placeholder="숫자만 입력 (개)" required>
                    <p>* 수량 입력 시 모든 옵션에 일괄 적용되며, 상품등록 후 '상품조회/수정'에서 변경 가능합니다.</p>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputNumber2" class="col-sm-2 col-form-label">이미지</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="file" id="formFile" required>
                  </div>
                </div>

                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0">소재</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="material" id="gridRadios1" value="option1" checked>
                      <label class="form-check-label" for="gridRadios1">
                        가죽
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="material" id="gridRadios2" value="option2">
                      <label class="form-check-label" for="gridRadios2">
                        합성섬유
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="material" id="gridRadios3" value="option3">
                      <label class="form-check-label" for="gridRadios3">
                        캔버스
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="material" id="gridRadios4" value="option4">
                      <label class="form-check-label" for="gridRadios4">
                        메쉬
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="material" id="gridRadios5" value="option5">
                      <label class="form-check-label" for="gridRadios5">
                        기타
                      </label>
                    </div>
                  </div>
                </fieldset>

                <div class="button-wrapper my-3">
                  <button class="btn btn-secondary" type="button" id="submitBtn">저장</button>
                </div>

              </form> <!-- End General Form Elements -->

            </div>
          </div>
        </div>
      </div>
    </section>

    <script th:src="@{/assets/js/jquery-3.7.1.js}"></script>
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous">
    </script>
    <script>
      document.querySelector("#submitBtn").onclick = () => {
        const formData = new FormData();
        // 텍스트 데이터 일일이 추가...
        formData.append('category', document.querySelector('#category').value);
        formData.append('productName', document.querySelector('#productName').value);
        formData.append('price', document.querySelector('#price').value);
        formData.append('size', document.querySelector('#size').value);
        formData.append('color', document.querySelector('#color').value);
        formData.append('inventoryQuantity', document.querySelector('#inventoryQuantity').value);
        // formData.append('image', document.querySelector('#formFile').files[0]); // 파일 첨부
        formData.append('image', '29979173.jpg'); // 테스트 : 임의의 값 지정
        formData.append('material', document.querySelector('input[name="material"]:checked').value);

        // formData.append('category', $('option[name="category"]:selected')).val();
        // // formData.append('category', $('#category').val());
        // formData.append('productName', $('#productName').val());
        // formData.append('price', $('#price').val());
        // formData.append('size', $('#size').val());
        // formData.append('color', $('#color').val());
        // formData.append('inventoryQuantity', $('#inventoryQuantity').val());
        // formData.append('image', $('#formFile')[0].files[0]); // 파일 첨부
        // formData.append('material', $('input[name="material"]:checked').val());

        $.ajax({
          url: '[[@{/product/product-regist}]]',
          type: 'post',
          contentType : false,
          processData : false,
          data: formData,
          success: function(data) {
            console.log('success');
            console.log(data);
            alert("등록을 완료하였습니다.");
          },
          error: function(error) {
            console.log('error');
            console.log(error);
          },
          complete: function() {
            console.log('complete');
          }
        });
      };
    </script>
    </div><!-- End #main -->
</body>
</html>