<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
  <!-- 여기에 필요한 메타 태그, 링크 태그 등을 추가할 수 있습니다 -->
</head>

<body>

<div layout:fragment="content1">
  <!-- content1 fragment 시작 -->
  <div class="pagetitle">
    <h1>배송조회/수정</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard.html">홈</a></li>
        <li class="breadcrumb-item">판매관리</li>
        <li class="breadcrumb-item active">배송조회/수정</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
</div><!-- content1 fragment 끝 -->

<div layout:fragment="content">
  <!-- content fragment 시작 -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">배송조회/수정</h5>
            <p>배송조회를 위해 검색어를 입력하시고, 수정이 필요한 항목을 하나씩 선택하십시오.</p>

            <!-- Table with stripped rows -->
            <form action="" method="post">
              <table class="table datatable">
                <thead>
                <tr>
                  <th><input type="checkbox" id="checkAll"></th>
                  <th><b>주문번호</b></th>
                  <th>회원번호</th>
                  <th>주문자 이름</th>
                  <th>배송지</th>
                  <th>주문날짜</th>
                  <th>주문상태</th>
                  <th>총금액</th>
                </tr>
                </thead>
                <tbody>
                <!-- Thymeleaf 반복문 사용 -->
                <tr th:each="delivery : ${deliveries}" th:object="${delivery}">
                  <td><input type="checkbox" th:value="${delivery.orderId}" class="orderCheckbox" name="selectedOrders"></td>
                  <td th:text="*{orderId}"></td>
                  <td th:text="*{userId}"></td>
                  <td th:text="*{ordererName}"></td>
                  <td th:text="*{ordererAddress}"></td>
                  <td th:text="*{orderDate}"></td>
                  <td th:text="*{status}" class="order-status"></td>
                  <td th:text="*{totalPrice}"></td>
                </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

              <div class="mt-3">
                <button type="submit" class="btn btn-secondary" name="action" value="send">발송 처리</button>
                <button type="submit" class="btn btn-danger" name="action" value="cancel">발송 취소 처리</button>
                <button type="submit" class="btn btn-primary" name="action" value="complete">배송완료 처리</button>
              </div>
            </form>


          </div>
        </div>

      </div>

    </div>
  </section>

</div><!-- content fragment 끝 -->

<!-- 필요한 경우 추가적인 스크립트나 라이브러리를 여기에 추가할 수 있습니다 -->

</body>

</html>
