<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<body>

<div layout:fragment="content1">

    <div class="pagetitle">
        <h1>주문통합검색</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">판매관리</li>
                <li class="breadcrumb-item active">주문통합검색</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
</div>

<div layout:fragment="content">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">스토어의 모든 주문건을 조회할 수 있는 통합 주문조회 메뉴입니다.</h5>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th><input type="checkbox" id="checkAll"></th>
                                <th><b>주문번호</b></th>
                                <th>주문자 이름</th>
                                <th>배송지</th>
                                <th>주문날짜</th>
                                <th>주문상태</th>
                                <th>총금액</th>
                                <th>상품명</th>
                                <th>주문 수량</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order : ${orders}" th:object="${order}">
                                <td><input type="checkbox" th:value="*{orderId}" class="orderCheckbox"></td>
                                <td th:text="*{orderId}"></td>
                                <td th:text="*{ordererName}"></td>
                                <td th:text="*{ordererAddress}"></td>
                                <td th:text="*{orderDate}"></td>
                                <td th:text="*{status}" class="order-status"></td>
                                <td th:text="*{totalPrice}"></td>
                                <td>
                                    <ul>
                                        <li th:each="item : ${order.orderItemList}">
                                            <span th:text="${item.itemName}"></span>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li th:each="item : ${order.orderItemList}">
                                            <span th:text="${item.quantity}"></span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>

    </section>
</div>

</body>

</html>
