<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.shop_kick_n_go.menu.model.dao.MenuMapper">
    <resultMap id="menuDtoMap" type="menuDto">
        <id column="menu_code" property="menuCode"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_price" property="menuPrice"/>
        <result column="category_code" property="categoryCode"/>
        <result column="orderable_status" property="orderableStatus"/>
    </resultMap>

    <select id="findAll" resultMap="menuDtoMap">
        select
            *
        from
            tbl_menu
        where
            orderable_status = 'Y'
        order by
            menu_code
    </select>

    <select id="findByMenuCode" resultMap="menuDtoMap">
        select
            *
        from
            tbl_menu
        where
            orderable_status = 'Y'
            and menu_code = #{menuCode}
    </select>

    <select id="findByCategoryCode" resultMap="menuDtoMap">
        select
            *
        from
            tbl_menu
        where
            orderable_status = 'Y'
            and category_code = #{categoryCode}
    </select>

    <insert id="insertMenu" useGeneratedKeys="true" keyProperty="menuCode">
        insert into
            tbl_menu (menu_name, menu_price, category_code, orderable_status)
        values(
            #{menuName}, #{menuPrice}, #{categoryCode}, #{orderableStatus}
        )
    </insert>

    <resultMap id="categoryDtoMap" type="categoryDto">
        <!-- column-property 매칭이 자동으로 안되는 경우 -->
        <!-- 별도의 type-handling이 필요한 경우 -->
        <!-- 명시적인 type 지정 -->
    </resultMap>

    <select id="findAllCategory" resultMap="categoryDtoMap">
        select
            *
        from
            tbl_category
        where
            ref_category_code is not null
    </select>
</mapper>