<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.shop_kick_n_go.manager.model.dao.ManagerMapper">


    <select id="compareLoginInfo" resultType="ManagerDto">
        select *
        from manager_tb
        where manager_email = #{managerEmail} and manager_password = #{managerPassword}
    </select>

</mapper>
