<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sh.shop_kick_n_go.product_qna_inquiry.model.dao.ProductQnaInquiryMapper">

    <resultMap id="ProductQnaInquiryMap" type="com.sh.shop_kick_n_go.product_qna_inquiry.model.dto.ProductQnaInquiryDto">
        <id column="product_qna_inquiry_id" property="productQnaInquiryId"/>
        <result column="product_id" property="productId"/>
        <result column="user_id" property="userId"/>
        <result column="receipt_date" property="receiptDate"/>
        <result column="processing_date" property="processingDate"/>
        <result column="processing_status" property="processingStatus"/>
        <result column="type" property="type"/>
        <result column="title" property="title"/>
        <result column="inquiry_contents" property="inquiryContents"/>
        <result column="inquiry_reply_contents" property="inquiryReplyContents"/>
    </resultMap>

    <select id="findAll" resultMap="ProductQnaInquiryMap">
        SELECT * FROM product_qna_inquiry_tb
    </select>

    <select id="findById" resultMap="ProductQnaInquiryMap" parameterType="int">
        SELECT * FROM product_qna_inquiry_tb WHERE product_qna_inquiry_id = #{productQnaInquiryId}
    </select>

    <insert id="insert" parameterType="com.sh.shop_kick_n_go.product_qna_inquiry.model.dto.ProductQnaInquiryDto">
        INSERT INTO product_qna_inquiry_tb (product_id, user_id, receipt_date, processing_date, processing_status, type, title, inquiry_contents, inquiry_reply_contents)
        VALUES (#{productId}, #{userId}, #{receiptDate}, #{processingDate}, #{processingStatus}, #{type}, #{title}, #{inquiryContents}, #{inquiryReplyContents})
    </insert>

    <update id="update" parameterType="com.sh.shop_kick_n_go.product_qna_inquiry.model.dto.ProductQnaInquiryDto">
        UPDATE product_qna_inquiry_tb
        SET product_id = #{productId}, user_id = #{userId}, receipt_date = #{receiptDate}, processing_date = #{processingDate}, processing_status = #{processingStatus},
        type = #{type}, title = #{title}, inquiry_contents = #{inquiryContents}, inquiry_reply_contents = #{inquiryReplyContents}
        WHERE product_qna_inquiry_id = #{productQnaInquiryId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM product_qna_inquiry_tb WHERE product_qna_inquiry_id = #{productQnaInquiryId}
    </delete>
</mapper>
