<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:fragment="headerFragment">
        <nav class="navbar navbar-expand-lg bg-body-tertiary text-bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Spring CRUD</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                        <a class="nav-link" th:href="@{/menu/list}">메뉴조회</a>
                        <a class="nav-link" th:href="@{/menu/regist}">메뉴신규등록</a>
                        <a class="nav-link" th:href="@{/order/create}">주문</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>