<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>메뉴 조회</title>
</head>
<body>
    <main layout:fragment="main" class="container">
        <h2 class="m-3">메뉴 조회</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>메뉴코드</th>
                    <th>메뉴명</th>
                    <th>메뉴가격</th>
                    <th>카테고리코드</th>
                    <th>주문가능여부</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="menu, stat : ${menus}" th:object="${menu}">
                    <td th:text="*{menuCode}"></td>
                    <td th:text="*{menuName}"></td>
                    <td th:text="*{#numbers.formatInteger(menuPrice, 3, 'COMMA')}"></td>
                    <td th:text="*{categoryCode}"></td>
                    <td th:text="*{orderableStatus}"></td>
                </tr>
            </tbody>
        </table>
    </main>
    <script layout:fragment="js">
        const message = `[[${message}]]`; // RedirectAttributes#addFlashAttributes에 담긴 속성
        message && alert(message);
    </script>

</body>
</html>