<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>메뉴 신규등록</title>
</head>
<body>
    <main layout:fragment="main" class="container">
        <h2 class="m-3">메뉴 신규등록</h2>
        <!--
            html(view)폼은 db테이블을 적극적으로 고려해 작성해야 한다.
            - db컬럼이 not null인 경우는 required속성을 지정
            - db컬럼명 - DTO필드명 - form name값을 일치시켜준다.
            - 추가적인 유효성검사가 필요하다면, submit핸들러를 이용해야 한다.
        -->
        <form name="menuRegistFrm" action="" method="post">
            <label>메뉴 이름 : </label><input type="text" name="menuName" pattern="[가-힣]{2,}" required><br>
            <label>메뉴 가격 : </label><input type="number" name="menuPrice" required><br>
            <label>카테고리 코드 : </label>
            <select name="categoryCode" id="categoryCode" required>
                <option value="" selected disabled>--카테고리 선택--</option>
                <option
                    th:each="category : ${categories}"
                    th:value="${category.categoryCode}"
                    th:text="${category.categoryName}"></option>
            </select><br>
            <label>판매 상태 : </label>
            <select name="orderableStatus" required>
                <option value="Y">Y</option>
                <option value="N">N</option>
            </select>
            <input type="submit" value="전송">
        </form>
    </main>
    <script layout:fragment="js" th:src="@{/js/menu/regist.js}"></script>
</body>
</html>