<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div layout:fragment="content1">
    <div class="pagetitle">
        <h1>구매자 문의 목록</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">홈</a></li>
                <li class="breadcrumb-item active">구매자 문의 목록</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
</div>

<div layout:fragment="content">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">구매자 문의 목록</h5>
                        <table id="inquiryTable" class="table">
                            <thead>
                            <tr>
                                <th>문의 ID</th>
                                <th>주문 항목 ID</th>
                                <th>사용자 ID</th>
                                <th>제목</th>
                                <th>문의 내용</th>
                                <th>답변 내용</th>
                                <th>처리 상태</th>
                                <th>접수 날짜</th>
                                <th>처리 날짜</th>
                                <th>상 태</th>
                                <th>수정</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="inquiry : ${sellerInquiries}">
                                <td th:text="${inquiry.sellerInquiryId}"></td>
                                <td th:text="${inquiry.orderItemId}"></td>
                                <td th:text="${inquiry.userId}"></td>
                                <td th:text="${inquiry.title}"></td>
                                <td th:text="${inquiry.inquiryContents}"></td>
                                <td th:text="${inquiry.inquiryReplyContents}"></td>
                                <td th:text="${inquiry.processingStatus}"></td>
                                <td th:text="${#temporals.format(inquiry.receiptDate, 'yyyy-MM-dd''T''HH:mm')}"></td>
                                <td th:text="${#temporals.format(inquiry.processingDate, 'yyyy-MM-dd''T''HH:mm')}"></td>
                                <td th:text="${inquiry.type}"></td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable"
                                            th:data-inquiry-id="${inquiry.sellerInquiryId}"
                                            th:data-order-item-id="${inquiry.orderItemId}"
                                            th:data-user-id="${inquiry.userId}"
                                            th:data-title="${inquiry.title}"
                                            th:data-inquiry-contents="${inquiry.inquiryContents}"
                                            th:data-inquiry-reply-contents="${inquiry.inquiryReplyContents}"
                                            th:data-processing-status="${inquiry.processingStatus}"
                                            th:data-receipt-date="${#temporals.format(inquiry.receiptDate, 'yyyy-MM-dd''T''HH:mm')}"
                                            th:data-processing-date="${#temporals.format(inquiry.processingDate, 'yyyy-MM-dd''T''HH:mm')}"
                                            th:data-processing-type="${inquiry.type}"
                                            onclick="openModal(this)">
                                        수정
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- 수정 모달 -->
                        <div class="modal fade" id="modalDialogScrollable" tabindex="-1">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">구매자 문의 수정</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="inquiryForm">
                                            <div class="row mb-3">
                                                <label for="inquiryId" class="col-sm-2 col-form-label">문의 ID</label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="inquiryId" name="sellerInquiryId" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="orderItemId" class="col-sm-2 col-form-label">주문 항목 ID</label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="orderItemId" name="orderItemId" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="userId" class="col-sm-2 col-form-label">사용자 ID</label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="userId" name="userId" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="title" class="col-sm-2 col-form-label">제목</label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="title" name="title" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="inquiryContents" class="col-sm-2 col-form-label">문의 내용</label>
                                                <div class="col-sm-10">
                                                    <textarea id="inquiryContents" name="inquiryContents" class="form-control" readonly></textarea>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="inquiryReplyContents" class="col-sm-2 col-form-label">답변 내용</label>
                                                <div class="col-sm-10">
                                                    <textarea id="inquiryReplyContents" name="inquiryReplyContents" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="processingStatus" class="col-sm-2 col-form-label">처리 상태</label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="processingStatus" name="processingStatus" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="receiptDate" class="col-sm-2 col-form-label">접수 날짜</label>
                                                <div class="col-sm-10">
                                                    <input type="datetime-local" id="receiptDate" name="receiptDate" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="processingDate" class="col-sm-2 col-form-label">처리 날짜</label>
                                                <div class="col-sm-10">
                                                    <input type="datetime-local" id="processingDate" name="processingDate" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="type" class="col-sm-2 col-form-label">상태</label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="type" name="type" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" onclick="submitForm()">SAVE</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script>
            function openModal(button) {
                document.getElementById('inquiryId').value = button.getAttribute('data-inquiry-id');
                document.getElementById('orderItemId').value = button.getAttribute('data-order-item-id');
                document.getElementById('userId').value = button.getAttribute('data-user-id');
                document.getElementById('title').value = button.getAttribute('data-title');
                document.getElementById('inquiryContents').value = button.getAttribute('data-inquiry-contents');
                document.getElementById('inquiryReplyContents').value = button.getAttribute('data-inquiry-reply-contents');
                document.getElementById('processingStatus').value = button.getAttribute('data-processing-status');
                document.getElementById('receiptDate').value = button.getAttribute('data-receipt-date');
                document.getElementById('processingDate').value = button.getAttribute('data-processing-date');
                document.getElementById('type').value = button.getAttribute('data-processing-type');
            }

            function submitForm() {
                const formData = {
                    sellerInquiryId: document.getElementById('inquiryId').value,
                    orderItemId: document.getElementById('orderItemId').value,
                    userId: document.getElementById('userId').value,
                    title: document.getElementById('title').value,
                    type: document.getElementById('type').value,
                    inquiryContents: document.getElementById('inquiryContents').value,
                    inquiryReplyContents: document.getElementById('inquiryReplyContents').value,
                    processingStatus: document.getElementById('processingStatus').value,
                    receiptDate: document.getElementById('receiptDate').value,
                    processingDate: document.getElementById('processingDate').value
                };

                $.ajax({
                    type: 'POST',
                    url: '[[@{/sellerInquiries/update}]]',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function(response) {
                        alert('Update successful');
                        location.reload();
                    },
                    error: function(error) {
                        alert('Update failed');
                        console.log(error);
                    }
                });
            }
        </script>
    </section>
</div>
</body>
</html>
